# AOFI Portal
CYPRESS_BASE_URL=http://your-aofi-portal-url/

# TubeIQ
CYPRESS_TUBEIQ_URL=http://your-tubeiq-url/
CYPRESS_TUBEIQ_REGISTRATION_URL=http://your-tubeiq-url/Account/Register?plan=Professional

# AOFI Portal -- Pravno lice
CYPRESS_PRAVNO_LICE_EMAIL=
CYPRESS_PRAVNO_LICE_PASSWORD=
CYPRESS_PRAVNO_LICE_USERNAME=

# AOFI Portal -- Preduzetnik
CYPRESS_PREDUZETNIK_FIRSTNAME=
CYPRESS_PREDUZETNIK_LASTNAME=
CYPRESS_PREDUZETNIK_EMAIL=
CYPRESS_PREDUZETNIK_PASSWORD=
CYPRESS_PREDUZETNIK_USERNAME=

# Invalid login credentials (for negative tests)
CYPRESS_INVALID_EMAIL=test@invalid.com
CYPRESS_INVALID_PASSWORD=invalidPass123

# SQL injection payloads (for security tests)
CYPRESS_SQL_PASSWORD_INJECT=' OR '1'='1
CYPRESS_SQL_EMAIL_INJECT=UNION SELECT NULL, NULL --

# TubeIQ -- Registration
CYPRESS_TUBEIQ_REGISTRATION_PASSWORD=

# TubeIQ -- Valid user
CYPRESS_TUBEIQ_VALID_USER=
CYPRESS_TUBEIQ_VALID_NAME=
CYPRESS_TUBEIQ_VALID_USER_NUMBER=
CYPRESS_TUBEIQ_VALID_EMAIL=
CYPRESS_TUBEIQ_VALID_PASSWORD=

# SMTP (smtp4dev)
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
